div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.26px;
    cursor: pointer;
}

img {
    width: 21px;
    height: 21px;
}
