<div>
    <img src="icons/checkboxEmpty.svg" alt="Unchecked" />
    <input type="text" @bind="@Input" @bind:event="oninput" @bind:after="() => OnInputChanged?.Invoke(Input)" />
    <button @onclick="() => OnAccepted(Input)"><img class="accept" src="icons/accept.svg" alt="Accept" /></button>
    <button @onclick="Decline"><img class="decline" src="icons/decline.svg" alt="Decline" /></button>
</div>

@code {
    [Parameter]
    public string Input { get; set; } = "";

    [Parameter]
    public EventCallback Decline { get; set; }

    [Parameter]
    public required Func<string, Task> OnAccepted { get; set; }

    [Parameter]
    public Action<string>? OnInputChanged { get; set; }
}
